<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/logo_eslogan.jpeg" type="image/x-icon">
    <title>PortafolioURN</title>
    <link rel="stylesheet" href="../static/css/panel.css">
    <script src="../static/js/panel.js"></script>
</head>
<body>
    
    <header>
        <div id="control_header">
            <figure id="logo">
                <img src="../static/img/logo_eslogan - copia.jpeg" alt="">
            </figure>
        </div>    
    </header>

    <main>
        <div id="control_cuerpo">

        </div>
    </main>


    <footer>
        <div id="control_footer">

        </div>

    </footer>
</body>
</html>